.description_block{
font-family: "Oswald", Arial, sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 40px;
margin: 0;
padding-left: 30px;
}
.description__list {
    padding: 0;
    margin: 0 20px;
    list-style: none;
}

.description__item {
    margin: 0;
    padding: 29px 27px 21px 30px;
    position: relative;

    &::before {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        background: #68B738;
        top: 41px;
        left: 10px;
    }
       &::after {
        content: "";
        position: absolute;
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../images/main/description-leaf.svg");
    }
}

.description__text {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin: 0;
    padding-left: 60px;
    padding-top: 15px;
}