
.programs__list {
    padding: 0;
    margin: 0 20px;
    list-style: none;
}

.programs__item {
    background: #f2f2f2;
    padding: 29px 27px 21px 30px;
    margin-bottom: 19px;
    position: relative;

    &::before {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        background: topic./blocks/main-header.scss./blocks/main-header.scss;
        top: 24px;
        left: 30px;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../images/main/cat_black.svg");
    }
}
.programs__item--slim::after {
    top: 20px;
    left: 37px;
    width: 36px;
    height: 50px;
}


.programs__title {
    margin: 0 0 30px;
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    padding-left: 70px;
    min-width: 1px;
    min-height: 24px;
}

.programs__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    padding-bottom: 21px;
    border-bottom: 1px solid red;
    margin-bottom: 18px;
}

.programs__link {
    text-decoration: none;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}